.container {
    background: linear-gradient(90deg, rgb(238, 88, 88) 0%, rgb(238, 60, 60)50%, rgb(235, 20, 20)100%);
    height: 100vh;
    width:100vw; 
}

.form-container {
    display: flex;
    justify-content: center;
    transform: translateY(50%);
}